h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-family: 'Courier New', Courier, monospace;
}

i {
    font-size: 70%;
}

#Hobbies {
    scroll-margin-top: 340px;
}

#Games {
    scroll-margin-top: 340px;
}

#TV {
    scroll-margin-top: 340px;
}

#Music {
    scroll-margin-top: 340px;
}

#Reviews {
    scroll-margin-top: 340px;
}


#Header {
  position: fixed;
  margin-top: -40px;
}